.relevant-wrapper{
  padding: 0rem 0rem 4rem;

  .relevant-title{
    color: #818181;
    margin: 1rem 0rem;
  }
}
.load-new{
  cursor: pointer;
}

$purple: #7F59A3;;
.oppty-btn {
  background-color: $purple !important;
  text-transform: none!important;
  width: 100%;
  height: 65px !important;
  font-size: 1.35rem!important;
}

.fixed {
  .btn__content {
    justify-content: flex-start !important;
  }
}
