$background: #C93680;
.chat-btn {
  background-color: $background !important;
  text-transform: inherit!important;
  width: 100%;
  height: 65px !important;
  font-size: 1.35rem;
  .text-piece {
    color: #fff;
    display: inline-block;
    font-size: 1.35rem !important;
    line-height: 3rem !important;
    padding: 0.5rem 1rem;
  }
}
