.fbc {
  // background-color: #C93680;
  border-radius: 0.5rem;
  width: 105px;
  height: 105px;
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
  padding: 0.5rem;
  display: table;
  cursor: pointer;
  &.small {
    width: 85px;
    height: 85px;
  }
  &.notify-user {
    &::after {
      content: '!';
      width: 1.5rem;
      height: 1.5rem;
      background-color: #f00;
      position: absolute;
      border-radius: 50%;
      right: -0.5rem;
      top: -0.5rem;
      text-align: center;
      color: #fff;
      font-weight: bold;
    }
  }
}

.message {
  right: calc(105px + 1rem);
  bottom: calc(1.5rem + 52px);
  padding: 1rem;
  position: absolute;
  color: white;
  background-color: #7F59A3;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  &.small {
    right: 7rem;
    bottom: 3.5rem
  }
}
