$white: #fff;
$blue: #1DA1F2;
.social-twitter {
  width: 100%;
  background-color: $blue;
  color: $white;
  padding: 0.75rem;
  line-height: 1.75rem!important;
  display: flex;
  cursor: pointer;
  max-height: 49px;
  .text-piece {
    line-height: 1.75rem!important;
    vertical-align: text-bottom;
  }
  .brand-block {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    max-width: 35px;
    border-right: 1px solid $white;
  }
  .text-block {
    padding: 0 0.5rem;
    text-align: center;
  }
}
