.conteudo-mask {
  .card__media__background::after {
    background: rgba(255, 106, 0, 0.55);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
  }
}

.video-card {
  &:hover {
    .hovered-data {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: transparentize($color: black, $amount: 0.3);
      .text-data{
        color: white;
      }
    }
  }
  .hovered-data {
    display: none;
  }
  .video-thumbnail {
    width: 100%;
    min-width: 100%;
    height: auto;
  }
}
