$backgroundColor: #C93680;
.footerbar-integri{
  background-color: $backgroundColor!important;
  bottom: 0!important;
  overflow: hidden;
  padding: 0.5rem;
  .btn {
    text-transform: capitalize;
    font-weight: normal;
  }
}