.facaparte {
  padding: 0;
  margin: 0;
  width: 100%;

  h1 {
    color: white;
    max-width: 367px;
    height: auto;
    font-size: 48px;
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
