$title-color:#818181;
.sponsors {
  background-color: white;
}

.partners-wrapper {
  background-color: #fff;
  min-height: auto !important;
  text-transform: uppercase;
  text-align: center;
  &.container {
    padding: 4rem 0;
  }
  .sponsor-title{
    text-transform: uppercase;
    font-size: 1rem;
    color: $title-color;
  }
  .sponsor{
    img {
      width: 100%;
    }
  }
  .partners-title {
    color: $title-color;
    font-size: 0.8rem;
    text-align: center;
  }

  .technical-partner {
    @media screen and (min-width: 1264px){
      border-right: 1px solid gray;  
    }
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .financial-partner {
    padding: 20px;

    img {
      width: 100%;
    }
  }
}
